* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
}

nav,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

/* HEADER */

header {
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

header img {
  width: 200px;
}

header nav {
  display: flex;
}

header li a {
  color: #191c03;
}

header li {
  margin: 0 15px;
}

header li:first-child {
  margin-left: 0;
}

header li:last-child {
  margin-right: 0;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header img {
    margin-bottom: 15px;
  }
}

/* HERO */

.hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h1 {
  font-size: 3.2rem;
  margin-bottom: 15px;
}

.hero h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.hero .btn {
  background-color: #fff;
  border-radius: 4px;
  color: #191c03;
  padding: 20px 50px;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero h3 {
    font-size: 1.5rem;
  }
}

/* MEET */

.meet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.meet h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  color: #191c03;
  text-align: center;
}

.meet p {
  max-width: 800px;
  margin-bottom: 35px;
  color: #191c03;
  text-align: center;
}

.meet hr {
  width: 200px;
  height: 2px;
  background-color: #191c03;
  margin-bottom: 70px;
  border: none;
}

.meet .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.meet .grid li {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.meet .grid li.small {
  flex-basis: 40%;
}

.meet .grid li.large {
  flex-basis: 60%;
}

@media (max-width: 700px) {
  .meet .grid li.small,
  .meet .grid li.large {
    flex-basis: 100%;
  }
}

/* CHARACTERISTICS */

.characteristics {
  background-color: #191c03;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.characteristics h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  color: #fff;
  text-align: center;
}

.characteristics hr {
  width: 200px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 70px;
  border: none;
}

.characteristics .grid {
  width: 100%;
  display: flex;
}

.characteristics .grid li {
  padding: 0 30px;
  text-align: center;
}

.characteristics .grid li i {
  color: #c3c63b;
  font-size: 50px;
  margin-bottom: 30px;
}

.characteristics .grid li h4 {
  font-size: 1.5rem;
  color: #c3c63b;
  margin-bottom: 30px;
}

.characteristics p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color: #fff;
}

@media (max-width: 850px) {
  .characteristics .grid {
    flex-direction: column;
  }
}

/* NEWSLETTER */

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.newsletter p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color: #c3c63b;
}

.newsletter h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  color: #c3c63b;
  text-align: center;
}

.newsletter hr {
  width: 200px;
  height: 2px;
  background-color: #c3c63b;
  margin-bottom: 70px;
  border: none;
}

.newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 800px;
}

.newsletter input {
  padding: 15px;
  border: 1px solid #c3c63b;
  border-radius: 4px;
  margin-right: 15px;
  flex: 1;
}

.newsletter button {
  padding: 15px;
  background-color: #c3c63b;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .newsletter input {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  background-color: #191c03;
  color: #fff;
  padding: 50px 0;
  align-items: center;
}

.footer ul {
  display: flex;
  margin-bottom: 25px;
}

.footer ul li {
  margin-right: 10px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer ul li a {
  color: #c3c63b;
  font-size: 2rem;
}

.footer p {
  color: #c3c63b;
  text-align: center;
}
